.boxContainerPannel {
  background-color: var(--primaryFrontground);
  border-radius: 0.3em;
  height: 100%;
  padding: 1%;
  /* position: fixed; */
}

.boxContainer {
  background-color: var(--primaryFrontground);
  border-radius: 0.3em;
  height: 100%;
  padding: 1%;
}

.myTable {
  padding: 5px;
}

.buttonStyle {
  border-color: #0f0d34;
  border-width: 2px;
  color: #0f0d34;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 1px;
}

.buttonStyle:hover {
  background-color: #0f0d34;
  color: #c7c0fb;
}
