/* Rectangle 4 */

/* more complicated than it needs to be just stick to what u need for each part*/
.sideBox {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: none;
  background-color: #0021a5;
  width: 20%;
  height: 400px;
}

.buttonSingle {
  padding: 1em 1em;
  font-size: 12;
  display: block;
  background-color: #0021a5;
  color: #111111;
}

.buttonSingle:hover {
  background-color: #1f3cb0;
}

.buttonHolder {
  grid-row: ;
}
