/* Rectangle 4 */

.sideBox {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: none;
  padding: 1em 1em;
  background-color: #0021a5;
  float: "left";
  width: 20%;
  height: 400px;
}
