.about_me p {
  color: #7a7a7a;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.49;
  font-size: 16px;
  margin-bottom: 1.6em;
}

.about_me {
  padding: 1em;
  max-width: 990px;
  margin: 0 auto;
  margin-top: 27px;
} 
