/* Group 17

position: relative;
width: 1308px;
height: 964px;



/* Rectangle */

position: absolute;
left: 0.08%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px 27px 78px -48px #709EFD;
border-radius: 15px;


/* Group 16 */

position: absolute;
width: 28px;
height: 28px;
left: 149px;
top: 887px;



/* Oval */

position: absolute;
left: 11.39%;
right: 86.47%;
top: 92.01%;
bottom: 5.08%;

background: #F1F5FA;


/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 153px;
top: 891px;



/* Path */

position: absolute;
left: 11.7%;
right: 86.77%;
top: 92.43%;
bottom: 5.5%;



/* Path */

position: absolute;
left: 12.27%;
right: 87.35%;
top: 92.95%;
bottom: 6.02%;

border: 1.25px solid #5D86F4;


/* Bitmap */

position: absolute;
width: 43px;
height: 43px;
left: 192px;
top: 880px;



/* Mask */

position: absolute;
left: 14.68%;
right: 82.03%;
top: 91.29%;
bottom: 4.25%;

background: #D8D8D8;


/* Mask */

position: absolute;
left: 14.68%;
right: 82.03%;
top: 91.29%;
bottom: 4.25%;

background: #D8D8D8;


/* Bitmap */

position: absolute;
left: 11.93%;
right: 77.06%;
top: 87.55%;
bottom: -9.96%;

background: url(Image.png);


/* Devin Lee */

position: absolute;
height: 20px;
left: 5.58%;
right: 88.69%;
top: calc(50% - 20px/2 + 417px);

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #0A0E1C;



/* Rectangle */

position: absolute;
left: 20.72%;
right: 79.2%;
top: 4.88%;
bottom: 0%;

background: #EEEEEE;


/* Rectangle */

position: absolute;
left: 0.08%;
right: 99.85%;
top: 85.89%;
bottom: -13.49%;

background: #EEEEEE;
transform: rotate(-90deg);


/* Rectangle */

position: absolute;
left: 70.64%;
right: 2.06%;
top: 50.21%;
bottom: 6.43%;

background: #F4F9FF;
border-radius: 10px;


/* Group 7 */

position: absolute;
width: 317px;
height: 378px;
left: 944px;
top: 504px;



/* Group 14 */

position: absolute;
left: 72.17%;
right: 3.59%;
top: 52.28%;
bottom: 38.69%;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px 4px 10px -7px #4C6AE6;
border-radius: 5px;


/* Group 13 */

position: absolute;
left: 13.25%;
right: 54.57%;
top: 54.02%;
bottom: 17.24%;



/* Rectangle */

position: absolute;
left: 14.71%;
right: 0.98%;
top: 0%;
bottom: 4%;

background: #FF6161;
border-radius: 11px;


/* dasdasda */

position: absolute;
height: 15px;
left: 16.67%;
right: 3.92%;
top: calc(50% - 15px/2 - 1px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Frame 1 */

position: absolute;
width: 100px;
height: 100px;
left: -19px;
top: -39px;



/* Oval */

position: absolute;
left: 6.31%;
right: 86.12%;
top: 17.24%;
bottom: 55.17%;

border: 1px solid #DEDEDE;


/* Better quality favic */

position: absolute;
height: 20px;
left: 17.03%;
right: 47.63%;
top: calc(50% - 20px/2 - 16.5px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #0A0E1C;



/* Group 15 */

position: absolute;
left: 75.71%;
right: 6.31%;
top: 57.47%;
bottom: 19.54%;



/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 0px;



/* Path */

position: absolute;
left: 0%;
right: 64.91%;
top: 0%;
bottom: 0%;



/* Oval */

position: absolute;
left: 4.39%;
right: 69.3%;
top: 12.5%;
bottom: 12.5%;

border: 1.25px solid #202842;


/* Path */

position: absolute;
left: 17.54%;
right: 78.07%;
top: 29.17%;
bottom: 37.5%;

border: 1.25px solid #202842;


/* 14:30 */

position: absolute;
height: 15px;
left: 43.86%;
right: 12.28%;
top: calc(50% - 15px/2 - 0.5px);

font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #0A0E1C;



/* Group 14 Copy 3 */

position: absolute;
left: 72.17%;
right: 3.59%;
top: 82.47%;
bottom: 8.51%;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
border-radius: 5px;


/* Group 13 */

position: absolute;
left: 17.03%;
right: 48.26%;
top: 54.02%;
bottom: 17.24%;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #90C335;
border-radius: 12.5px;


/* Design */

position: absolute;
height: 15px;
left: -3.64%;
right: -3.73%;
top: calc(50% - 15px/2);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Oval */

position: absolute;
left: 6.31%;
right: 86.12%;
top: 17.24%;
bottom: 55.17%;

background: #4C6AE6;


/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 22px;
top: 17px;



/* Path */

position: absolute;
left: 6.94%;
right: 86.75%;
top: 19.54%;
bottom: 57.47%;



/* Path */

position: absolute;
left: 8.2%;
right: 88.01%;
top: 26.44%;
bottom: 64.37%;

border: 1.71429px solid #FFFFFF;


/* Email templates */

position: absolute;
height: 20px;
left: 17.03%;
right: 48.26%;
top: calc(50% - 20px/2 - 16.5px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #0A0E1C;



/* Group 15 */

position: absolute;
left: 75.71%;
right: 6.31%;
top: 57.47%;
bottom: 19.54%;



/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 0px;



/* Path */

position: absolute;
left: 0%;
right: 64.91%;
top: 0%;
bottom: 0%;



/* Oval */

position: absolute;
left: 4.39%;
right: 69.3%;
top: 12.5%;
bottom: 12.5%;

border: 1.25px solid #202842;


/* Path */

position: absolute;
left: 17.54%;
right: 78.07%;
top: 29.17%;
bottom: 37.5%;

border: 1.25px solid #202842;


/* 14:30 */

position: absolute;
height: 15px;
left: 43.86%;
right: 12.28%;
top: calc(50% - 15px/2 - 0.5px);

font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #0A0E1C;



/* Group 14 Copy */

position: absolute;
left: 72.17%;
right: 3.59%;
top: 62.34%;
bottom: 28.63%;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px 4px 10px -7px #4C6AE6;
border-radius: 5px;


/* Group 15 */

position: absolute;
left: 75.71%;
right: 6.31%;
top: 57.47%;
bottom: 19.54%;



/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 0px;



/* Path */

position: absolute;
left: 0%;
right: 64.91%;
top: 0%;
bottom: 0%;



/* Oval */

position: absolute;
left: 4.39%;
right: 69.3%;
top: 12.5%;
bottom: 12.5%;

border: 1.25px solid #202842;


/* Path */

position: absolute;
left: 17.54%;
right: 78.07%;
top: 29.17%;
bottom: 37.5%;

border: 1.25px solid #202842;


/* 12:30 */

position: absolute;
height: 15px;
left: 43.86%;
right: 0%;
top: calc(50% - 15px/2 - 0.5px);

font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #0A0E1C;



/* Group 13 */

position: absolute;
left: 17.03%;
right: 50.47%;
top: 54.02%;
bottom: 17.24%;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FB8B18;
border-radius: 12.5px;


/* Marketing */

position: absolute;
height: 15px;
left: 13.16%;
right: -18.42%;
top: calc(50% - 15px/2);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;



/* Oval */

position: absolute;
left: 6.31%;
right: 86.12%;
top: 17.24%;
bottom: 55.17%;

border: 1px solid #DEDEDE;


/* Social accounts setu */

position: absolute;
height: 20px;
left: 17.03%;
right: 63.41%;
top: calc(50% - 20px/2 - 16.5px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #0A0E1C;



/* Group 14 Copy 2 */

position: absolute;
left: 72.17%;
right: 3.59%;
top: 72.41%;
bottom: 18.57%;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
border-radius: 5px;


/* Group 15 */

position: absolute;
left: 75.71%;
right: 6.31%;
top: 57.47%;
bottom: 19.54%;



/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 0px;



/* Path */

position: absolute;
left: 0%;
right: 64.91%;
top: 0%;
bottom: 0%;



/* Oval */

position: absolute;
left: 4.39%;
right: 69.3%;
top: 12.5%;
bottom: 12.5%;

border: 1.25px solid #202842;


/* Path */

position: absolute;
left: 17.54%;
right: 78.07%;
top: 29.17%;
bottom: 37.5%;

border: 1.25px solid #202842;


/* 14:30 */

position: absolute;
height: 15px;
left: 43.86%;
right: 0%;
top: calc(50% - 15px/2 - 0.5px);

font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #0A0E1C;



/* Group 13 */

position: absolute;
left: 17.03%;
right: 53.31%;
top: 54.02%;
bottom: 17.24%;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FB8B18;
border-radius: 12.5px;


/* Development */

position: absolute;
height: 15px;
left: 8.51%;
right: 6.38%;
top: calc(50% - 15px/2);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;



/* Oval */

position: absolute;
left: 6.31%;
right: 86.12%;
top: 17.24%;
bottom: 55.17%;

background: #4C6AE6;


/* Group */

position: absolute;
width: 20px;
height: 20px;
left: 22px;
top: 17px;



/* Path */

position: absolute;
left: 6.94%;
right: 86.75%;
top: 19.54%;
bottom: 57.47%;



/* Path */

position: absolute;
left: 8.2%;
right: 88.01%;
top: 26.44%;
bottom: 64.37%;

border: 1.71429px solid #FFFFFF;


/* Upgrade plan page */

position: absolute;
height: 20px;
left: 17.03%;
right: 33.75%;
top: calc(50% - 20px/2 - 16.5px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #0A0E1C;



/* Group */

position: absolute;
width: 26px;
height: 26px;
left: 1029px;
top: 51px;



/* Path */

position: absolute;
left: 78.67%;
right: 19.34%;
top: 5.29%;
bottom: 92.01%;



/* Rectangle */

position: absolute;
left: 78.92%;
right: 19.59%;
top: 5.85%;
bottom: 92.57%;

border: 1.625px solid #202842;
border-radius: 2.16667px;


/* Path */

position: absolute;
left: 78.92%;
right: 19.59%;
top: 6.08%;
bottom: 93.25%;

border: 1.625px solid #202842;


/* Group */

position: absolute;
width: 26px;
height: 26px;
left: 1087px;
top: 51px;



/* Path */

position: absolute;
left: 83.1%;
right: 14.91%;
top: 5.29%;
bottom: 92.01%;



/* Path */

position: absolute;
left: 83.44%;
right: 15.24%;
top: 5.63%;
bottom: 92.8%;

border: 1.625px solid #202842;


/* Path */

position: absolute;
left: 83.85%;
right: 15.65%;
top: 7.2%;
bottom: 92.35%;

border: 1.625px solid #202842;


/* Group 4 */

position: absolute;
width: 195px;
height: 240px;
left: 77px;
top: 221px;



/* Group 3 */

position: absolute;
width: 195px;
height: 44px;
left: 77px;
top: 221px;



/* Rectangle */

position: absolute;
left: 5.89%;
right: 79.2%;
top: 22.93%;
bottom: 72.51%;

background: #F4F9FF;
border-radius: 28.5px;


/* Group 2 */

position: absolute;
left: 7.42%;
right: 82.65%;
top: 23.86%;
bottom: 73.44%;



/* Dashboard */

position: absolute;
height: 20px;
left: 30.25%;
right: -17.65%;
top: calc(50% - 20px/2);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #0A0E1C;



/* Group */

position: absolute;
width: 28.4px;
height: 26px;
left: 0px;
top: 0px;



/* Path */

position: absolute;
left: 0%;
right: 78.15%;
top: 0%;
bottom: 0%;



/* Path */

position: absolute;
left: 2.73%;
right: 80.88%;
top: 16.67%;
bottom: 16.67%;

border: 1.625px solid #202842;


/* Group 3 Copy 2 */

position: absolute;
width: 195px;
height: 44px;
left: 77px;
top: 319px;



/* Rectangle */

position: absolute;
left: 5.89%;
right: 79.2%;
top: 33.09%;
bottom: 62.34%;

background: rgba(216, 216, 216, 0.0001);
border-radius: 28.5px;


/* Group 2 */

position: absolute;
left: 7.42%;
right: 84.56%;
top: 34.02%;
bottom: 63.28%;



/* Projects */

position: absolute;
height: 20px;
left: 37.5%;
right: -5.21%;
top: calc(50% - 20px/2);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #0A0E1C;



/* Group */

position: absolute;
width: 28.44px;
height: 26px;
left: 0px;
top: 0px;



/* Path */

position: absolute;
left: 0%;
right: 72.92%;
top: 0%;
bottom: 0%;



/* Rectangle */

position: absolute;
left: 9.03%;
right: 77.43%;
top: 33.33%;
bottom: 16.67%;

border: 1.625px solid #202842;
border-radius: 2.16667px;


/* Path */

position: absolute;
left: 4.51%;
right: 81.94%;
top: 16.67%;
bottom: 33.33%;

border: 1.625px solid #202842;


/* Group 3 Copy */

position: absolute;
width: 195px;
height: 44px;
left: 77px;
top: 270px;



/* Rectangle */

position: absolute;
left: 5.89%;
right: 79.2%;
top: 28.01%;
bottom: 67.43%;

background: rgba(216, 216, 216, 0.0001);
border-radius: 28.5px;


/* Group 2 */

position: absolute;
left: 7.42%;
right: 84.71%;
top: 28.94%;
bottom: 68.36%;



/* Folders */

position: absolute;
height: 40px;
left: 39.56%;
right: -4.4%;
top: calc(50% - 40px/2 + 10px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #0A0E1C;



/* Group */

position: absolute;
width: 29.43px;
height: 26px;
left: 0px;
top: 0px;



/* Path */

position: absolute;
left: 0%;
right: 71.43%;
top: 0%;
bottom: 0%;



/* Path */

position: absolute;
left: 3.57%;
right: 75%;
top: 16.67%;
bottom: 20.83%;

border: 1.625px solid #202842;


/* Group 3 Copy 3 */

position: absolute;
width: 195px;
height: 44px;
left: 77px;
top: 368px;



/* Rectangle */

position: absolute;
left: 5.89%;
right: 79.2%;
top: 38.17%;
bottom: 57.26%;

background: rgba(216, 216, 216, 0.0001);
border-radius: 28.5px;


/* Group 2 */

position: absolute;
left: 7.42%;
right: 86.47%;
top: 39.11%;
bottom: 58.2%;



/* Tasks */

position: absolute;
height: 20px;
left: 48.75%;
right: -1.25%;
top: calc(50% - 20px/2);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #0A0E1C;



/* Group */

position: absolute;
width: 26px;
height: 26px;
left: 0px;
top: 0px;



/* Path */

position: absolute;
left: 0%;
right: 67.5%;
top: 0%;
bottom: 0%;



/* Path */

position: absolute;
left: 6.77%;
right: 74.27%;
top: 20.83%;
bottom: 12.5%;

border: 1.625px solid #202842;


/* Rectangle */

position: absolute;
left: 12.19%;
right: 79.69%;
top: 12.5%;
bottom: 70.83%;

border: 1.625px solid #202842;
border-radius: 2.16667px;


/* Path */

position: absolute;
left: 12.19%;
right: 79.69%;
top: 50%;
bottom: 33.33%;

border: 1.625px solid #202842;


/* Group 3 Copy 4 */

position: absolute;
width: 195px;
height: 44px;
left: 77px;
top: 417px;



/* Rectangle */

position: absolute;
left: 5.89%;
right: 79.2%;
top: 43.26%;
bottom: 52.18%;

background: rgba(216, 216, 216, 0.0001);
border-radius: 28.5px;


/* Group 2 */

position: absolute;
left: 7.42%;
right: 84.33%;
top: 44.19%;
bottom: 53.11%;



/* Settings */

position: absolute;
height: 20px;
left: 37.11%;
right: -6.19%;
top: calc(50% - 20px/2);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #0A0E1C;



/* Group */

position: absolute;
width: 28.95px;
height: 26px;
left: 0px;
top: 0px;



/* Path */

position: absolute;
left: 0%;
right: 73.2%;
top: 0%;
bottom: 0%;



/* Path */

position: absolute;
left: 3.35%;
right: 76.55%;
top: 12.5%;
bottom: 12.5%;

border: 1.625px solid #202842;


/* Oval */

position: absolute;
left: 10.05%;
right: 83.25%;
top: 37.5%;
bottom: 37.5%;

border: 1.625px solid #202842;


/* S */

position: absolute;
height: 41px;
left: 87.69%;
right: 4.74%;
top: calc(50% - 41px/2 - 416.5px);

font-family: Mulish;
font-style: normal;
font-weight: 900;
font-size: 33px;
line-height: 41px;

color: #0A0E1C;



/* S */

position: absolute;
height: 41px;
left: 4.05%;
right: 81.96%;
top: calc(50% - 41px/2 - 317.5px);

font-family: Mulish;
font-style: normal;
font-weight: 900;
font-size: 33px;
line-height: 41px;

color: #0A0E1C;



/* Calender */

position: absolute;
width: 382px;
height: 339px;
left: 899px;
top: 114px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(135.44deg, #FDFDFF 0%, #F6F7FF 99.24%);
box-shadow: 0px 103px 82px -45px rgba(8, 0, 99, 0.131829);
border-radius: 10px;


/* Oval */

position: absolute;
left: 70.16%;
right: 22.37%;
top: 84.66%;
bottom: 7.42%;

background: #FB8B18;


/* Oval Copy */

position: absolute;
left: 35.57%;
right: 56.96%;
top: 72.11%;
bottom: 19.97%;

background: #FB8B18;


/* Oval Copy 2 */

position: absolute;
left: 47.31%;
right: 45.22%;
top: 35.39%;
bottom: 56.68%;

background: #FF6161;


/* Group 2 */

position: absolute;
left: 8.9%;
right: 8.9%;
top: 25.96%;
bottom: 68.44%;



/* Sun */

position: absolute;
height: 17px;
left: 85.99%;
right: 4.44%;
top: calc(50% - 17px/2 + 3px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #171D35;



/* Sat */

position: absolute;
height: 17px;
left: 74.84%;
right: 17.2%;
top: calc(50% - 17px/2 + 3px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #171D35;



/* Fri */

position: absolute;
height: 17px;
left: 63.69%;
right: 28.98%;
top: calc(50% - 17px/2 + 3px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #171D35;



/* Thu */

position: absolute;
height: 17px;
left: 49.04%;
right: 41.72%;
top: calc(50% - 17px/2 + 3px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #171D35;



/* Wed */

position: absolute;
height: 17px;
left: 32.17%;
right: 56.37%;
top: calc(50% - 17px/2 + 3px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #171D35;



/* Tue */

position: absolute;
height: 17px;
left: 16.56%;
right: 74.84%;
top: calc(50% - 17px/2 + 3px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #171D35;



/* Mon */

position: absolute;
height: 17px;
left: -0.32%;
right: 89.49%;
top: calc(50% - 17px/2 + 3px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #171D35;



/* Group 2 Copy */

position: absolute;
left: 10.76%;
right: 10.01%;
top: 37.4%;
bottom: 58.32%;



/* 28 */

position: absolute;
height: 17px;
left: -0.37%;
right: 94.42%;
top: calc(50% - 17px/2 - 0.54px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;

mix-blend-mode: normal;
opacity: 0.4;


/* 29 */

position: absolute;
height: 17px;
left: 16.48%;
right: 77.9%;
top: calc(50% - 17px/2 - 0.54px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;

mix-blend-mode: normal;
opacity: 0.4;


/* 30 */

position: absolute;
height: 17px;
left: 33.01%;
right: 61.05%;
top: calc(50% - 17px/2 - 0.54px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;

mix-blend-mode: normal;
opacity: 0.4;


/* 1 */

position: absolute;
height: 17px;
left: 49.94%;
right: 48.55%;
top: calc(50% - 17px/2 - 0.54px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 2 */

position: absolute;
height: 17px;
left: 62.42%;
right: 34.61%;
top: calc(50% - 17px/2 - 0.54px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 3 */

position: absolute;
height: 17px;
left: 76.37%;
right: 21.17%;
top: calc(50% - 17px/2 + 0.46px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #000000;



/* 4 */

position: absolute;
height: 17px;
left: 88.85%;
right: 7.52%;
top: calc(50% - 17px/2 + 0.46px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* Group 2 Copy 2 */

position: absolute;
left: 11.81%;
right: 9.87%;
top: 49.6%;
bottom: 46.12%;



/* 5 */

position: absolute;
height: 17px;
left: 0.05%;
right: 97.47%;
top: calc(50% - 17px/2 - 1.91px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 6 */

position: absolute;
height: 17px;
left: 16.76%;
right: 80.56%;
top: calc(50% - 17px/2 - 1.91px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 7 */

position: absolute;
height: 17px;
left: 33.86%;
right: 63.66%;
top: calc(50% - 17px/2 - 1.91px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 8 */

position: absolute;
height: 17px;
left: 48.82%;
right: 48.32%;
top: calc(50% - 17px/2 - 1.91px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 9 */

position: absolute;
height: 17px;
left: 63.22%;
right: 34.11%;
top: calc(50% - 17px/2 - 1.91px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 10 */

position: absolute;
height: 17px;
left: 74.16%;
right: 19.7%;
top: calc(50% - 17px/2 - 1.91px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 11 */

position: absolute;
height: 17px;
left: 88.53%;
right: 6.64%;
top: calc(50% - 17px/2 - 2.91px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* Group 2 Copy 3 */

position: absolute;
left: 11.21%;
right: 9.42%;
top: 61.81%;
bottom: 33.91%;



/* 12 */

position: absolute;
height: 17px;
left: -0.27%;
right: 95.73%;
top: calc(50% - 17px/2 - 1.28px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #000000;



/* 13 */

position: absolute;
height: 17px;
left: 16.55%;
right: 78.69%;
top: calc(50% - 17px/2 - 1.28px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 14 */

position: absolute;
height: 17px;
left: 33.37%;
right: 61.22%;
top: calc(50% - 17px/2 - 1.28px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 15 */

position: absolute;
height: 17px;
left: 48.54%;
right: 46.7%;
top: calc(50% - 17px/2 - 1.28px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 16 */

position: absolute;
height: 17px;
left: 62.06%;
right: 32.96%;
top: calc(50% - 17px/2 - 1.28px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 17 */

position: absolute;
height: 17px;
left: 74.27%;
right: 20.54%;
top: calc(50% - 17px/2 - 1.28px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 18 */

position: absolute;
height: 17px;
left: 88.12%;
right: 6.25%;
top: calc(50% - 17px/2 - 2.28px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* Group 2 Copy 4 */

position: absolute;
left: 11.06%;
right: 9.27%;
top: 74.01%;
bottom: 21.71%;



/* 19 */

position: absolute;
height: 17px;
left: -0.08%;
right: 94.69%;
top: calc(50% - 17px/2 - 0.64px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 20 */

position: absolute;
height: 17px;
left: 16.35%;
right: 77.62%;
top: calc(50% - 17px/2 - 0.64px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 21 */

position: absolute;
height: 17px;
left: 33.43%;
right: 62.04%;
top: calc(50% - 17px/2 - 0.64px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 22 */

position: absolute;
height: 17px;
left: 48.87%;
right: 45.3%;
top: calc(50% - 17px/2 - 0.64px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #000000;



/* 23 */

position: absolute;
height: 17px;
left: 62.02%;
right: 32.38%;
top: calc(50% - 17px/2 - 0.64px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 24 */

position: absolute;
height: 17px;
left: 74.17%;
right: 20%;
top: calc(50% - 17px/2 - 0.64px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 25 */

position: absolute;
height: 17px;
left: 88.63%;
right: 5.55%;
top: calc(50% - 17px/2 - 0.64px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* Group 2 Copy 5 */

position: absolute;
left: 10.91%;
right: 10.31%;
top: 86.21%;
bottom: 9.51%;



/* 26 */

position: absolute;
height: 17px;
left: 0.11%;
right: 93.79%;
top: calc(50% - 17px/2 - 0.01px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 27 */

position: absolute;
height: 17px;
left: 16.39%;
right: 77.5%;
top: calc(50% - 17px/2 - 0.01px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 28 */

position: absolute;
height: 17px;
left: 33.67%;
right: 60.22%;
top: calc(50% - 17px/2 - 0.01px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 29 */

position: absolute;
height: 17px;
left: 50.95%;
right: 43.16%;
top: calc(50% - 17px/2 - 0.01px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 30 */

position: absolute;
height: 17px;
left: 63.25%;
right: 30.65%;
top: calc(50% - 17px/2 - 0.01px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 31 */

position: absolute;
height: 17px;
left: 77.54%;
right: 17.88%;
top: calc(50% - 17px/2 - 0.01px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;



/* 1 */

position: absolute;
height: 17px;
left: 92.57%;
right: 5.91%;
top: calc(50% - 17px/2 - 0.01px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #171D35;

mix-blend-mode: normal;
opacity: 0.4;


/* Group */

position: absolute;
width: 25.12px;
height: 23.64px;
left: 322.62px;
top: 32.23px;



/* Path */

position: absolute;
left: 84.45%;
right: 8.97%;
top: 9.51%;
bottom: 83.52%;



/* Path */

position: absolute;
left: 86.92%;
right: 11.43%;
top: 11.25%;
bottom: 85.26%;

border: 4px solid #202842;


/* Group Copy */

position: absolute;
width: 25.12px;
height: 23.64px;
left: 305.49px;
top: 55.87px;

transform: rotate(-180deg);


/* Path */

position: absolute;
left: 79.97%;
right: 13.45%;
top: 16.48%;
bottom: 76.55%;

transform: rotate(-180deg);


/* Path */

position: absolute;
left: 77.5%;
right: 20.85%;
top: 14.74%;
bottom: 81.77%;

border: 4px solid #202842;
transform: rotate(-180deg);


/* October 2020 */

position: absolute;
height: 42px;
left: 8.9%;
right: 45.22%;
top: calc(50% - 42px/2 - 119.5px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #171D35;



/* October 2021 */

position: absolute;
height: 42px;
left: 71.33%;
right: 15.27%;
top: calc(50% - 42px/2 + 9px);

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #171D35;



/* Rectangle 3 */

position: absolute;
width: 163px;
height: 101px;
left: 22px;
top: 13px;

background: url(1.png);


/* Line 1 */

position: absolute;
width: 649px;
height: 0px;
left: 250px;
top: 114px;

border: 1px solid #808080;


/* Header dash */

position: absolute;
width: 656px;
height: 107px;
left: 250px;
top: 60px;



/* Inbox */

position: absolute;
width: 52px;
height: 18px;
left: 15px;
top: 30px;

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;

color: #000000;



/* Notes (1) */

position: absolute;
width: 70px;
height: 18px;
left: 92px;
top: 30px;

font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #000000;
 */
