:root {
  --background-primary: #fff;
  --background-secondary: #e4e4e4;
}

.dashboardWrap {
  display: flex;
  justify-content: space-between;
}

.userTableWrapper {
  width: 100%;
  margin-right: 2em;
  overflow-x: auto;
  height: 100%;
}

.userTable {
  width: 100%;
  min-width: 500px;
  background-color: var(--background-primary);

  display: grid;
  grid-template-rows: repeat(7, 1fr);

  border-radius: 0.5em;
}

.tableHeaders,
.dataRow {
  list-style: none;
  padding: 1rem 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.headerCol,
.dataCol {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2rem;
}

.headerCol {
  margin-top: auto;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.dataRow:nth-child(even) {
  background-color: var(--background-secondary);
}

.dataRow:nth-child(odd) {
  background-color: var(--background-primary);
}
