:root {
  --color-primary: #0021a5;
  --color-secondary: #0021a580;
  --background-primary: #f6f6f6;
  --background-secondary: #ffffff;
}

.loginContainer {
  background-color: var(--background-secondary);
  max-width: 500px;
  border-radius: 0.3em;
  box-shadow: 0.2em 0.2em 0.2em 0.1rem #35353520;
  margin-top: 15vh;
}

.inputField:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.135rem var(--color-secondary);
}

.primaryButton {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.primaryButton:hover,
.primaryButton:active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.primaryButton:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.135rem var(--color-secondary);
}
