:root {
  --accent-color: #0021a5;
  --faded-accent-color: #0021a580;
  --background-color: #f6f6f6;
  --background-highlight-color: #ffffff;
}

body {
  background-color: var(--background-color);
}

.loginContainer {
  background-color: var(--background-highlight-color);
  max-width: 500px;
  border-radius: 0.3em;
  box-shadow: 0.2em 0.2em 0.2em 0.1rem #35353520;
}

.inputField:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.135rem var(--faded-accent-color);
}

.primaryButton {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.primaryButton:hover,
.primaryButton:active {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.primaryButton:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.135rem var(--faded-accent-color);
}
