.boxContainer {
  background-color: var(--primaryFrontground);
  border-radius: 0.3em;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

.pieChart {
  padding: 10px;
  padding-bottom: 20px;
  width: 75%;
}

.sideBar {
  margin-top: px;
}

.boxTitle {
  display: flex;
  justify-content: left;
}

.inputButton {
  width: 40%;
  border-color: #ced4da;
  border-radius: 10%;
}
