@import url("http://cdn.syncfusion.com/ej2/material.css");
/* @import url("../node_modules/@syncfusion/ej2-buttons/styles/material.css");
@import url("../node_modules/@syncfusion/ej2-react-calendars/styles/material.css"); */

:root {
  --primaryBackground: #f2f2f2;
  --primaryFrontground: #ffffff;
}
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0px;
  transition: ease-in 300ms;
  height: 100%;
  overflow-y: hidden;
  background: #0021a5;
  display: flex;
  position: fixed;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  background-color: var(--primaryBackground);
}

/* changes the sidebar to display */
/* need to set to a different  */
#wrapper-menu-displayed #sidebar-wrapper {
  width: 250px;
  transition: ease-in 300ms;
}

#wrapper-menu-displayed #page-content-wrapper {
  padding-left: 250px;
  transition: ease-in 300ms;
}

#wrapper-menu-displayed #top-nav {
  padding-left: 250px;
  transition: ease-in 300ms;
}

#wrapper-menu-disabled #sidebar-wrapper {
  width: 0;
  transition: ease-out 300ms;
}

#wrapper-menu-disabled #page-content-wrapper {
  padding-left: 0;
  transition: ease-out 300ms;
}

#wrapper-menu-disabled #top-nav {
  padding-left: 0;
  transition: ease-out 300ms;
}

#mainPages {
  margin-top: 20px;
}
#line {
  background-color: #474a4d;
  height: 2px;
}

.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  color: #c7c6fd;
}

.sidebar-nav li a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  display: block;
  text-decoration: none;
  align-items: center;
}

.sidebar-nav p {
  padding-top: 10px;
  padding-right: 5px;
}

.sidebar-nav li a:hover {
  background: #4d65db;
}
